<div class="header">
  <h1>Heading</h1>
  <p>By Author</p>
</div>

<div class="book">
  <% if @chapters.any? %>
    <ol>
      <% @chapters.each do |chapter| %>
        <li class="<%= cycle('zebra-a', 'zebra-b') -%>"><%= link_to chapter.title, chapter_path(slug: chapter.slug) %></li>
      <% end %>
    </ol>
  <% end %>
</div>

<div class="footer">

</div>