<div class="book">
  <h1><%= @chapter.title %></h1>
  <%= content(@chapter) %>

  <p><%= link_to "Edit", edit_chapter_path %></p>
</div>

<script>
  let elements = document.querySelectorAll('a[data-toggle]');

  let toggleComments = function(event) {
    event.preventDefault();

    if (this.hasAttribute('data-toggle')) {
      let hash = this.getAttribute('data-paragraph');
      let commentBox = document.querySelector('.comments[data-paragraph-comments="' + hash + '"]');

      if (this.getAttribute('data-toggle') == 'false') {
        this.setAttribute('data-toggle', 'true');
        commentBox.setAttribute('style', 'display: block;');
      } else {
        this.setAttribute('data-toggle', 'false');
        commentBox.setAttribute('style', 'display: none;');
      }
    }
  };

elements.forEach(element => { element.addEventListener('click', toggleComments); });
</script>